<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukitor.projectandroidpemulakotlin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookicon"
        android:label="Novel Life"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@drawable/bookicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailNovel" android:theme="@style/SplassScreenCustom1"></activity>
        <activity android:name=".LoadDetail"/>
        <activity android:name=".Load"/>
        <activity android:name=".ListNovel"/>
        <activity android:name=".Profile"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplassScreenCustom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>